DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_name
DB_USER=db_username
DB_PASSWORD=db_user_pwd

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
RQ_QUEUE_NAME=tax_jobs

LOG_LEVEL=INFO

EMAIL_SMTP_SVR=smtp-server-data
EMAIL_SMTP_PORT=port_number
EMAIL_SMTP_CYPHER=Ciphering_type
EMAIL_ACC_NAME=email_account_name
EMAIL_ACC_PWD=email_account_pwd
