.env
.env.example
.venv
pyproject.toml
docker-compose.yaml
README.md
redis-only.yaml
logs/
schemas/
__pycache__/
*.pyc
.DS_Store
api/
frontend/
database/
scratch/
cryptax-data/
tests/
Dockerfile
docker-entrypoint.sh
.gitignore
.git/
README.md
